{% extends 'base.html' %}

{% block content %}
    <h3 class="title">Login page</h3>
    {% include 'utils/_flash_error.html' %}
    <form class="form" method="post">
        {{ form.hidden_tag() }}
        <div class="form-control">
            {{ form.username.label() }}
            {{ form.username() }}
        </div>
        <div class="form-control">
            {{ form.password.label() }}
            {{ form.password() }}
        </div>
        {{ form.submit(class='btn-primary') }}
    </form>
{% endblock %}

