<nav id="navbar">
    <ul>
        <li class="link">
            <a href="{{ url_for('home.index') }}">Home</a>
        </li>
        {% if not current_user.is_authenticated %}
            <li class="link">
                <a href="{{ url_for('auth.login') }}">Login</a>
            </li>
            <li class="link">
                <a href="{{ url_for('auth.register') }}">Register</a>
            </li>
        {% else %}
            <li class="link">
                <a href="{{ url_for('notes.create') }}">Create note</a>
            </li>
            <li class="link">
                <a href="{{ url_for('notes.list') }}">List of notes</a>
            </li>
            <li class="link">
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
        {% endif %}
    </ul>
</nav>